arrow==1.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
dataclasses-json==0.6.4
flake8==6.0.0
idna==3.6
isort==5.13.2
marshmallow==3.20.2
mccabe==0.7.0
metabase-api==0.3.0
mypy-extensions==1.0.0
packaging==23.0
pycodestyle==2.10.0
pydantic==1.10.7
pyflakes==3.0.1
python-dateutil==2.8.2
python-dotenv==0.21.1
requests==2.31.0
six==1.16.0
tqdm==4.64.1
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.9.0
urllib3==2.2.0
